main {
  & .bannerContainer {
    background-color: rgb(47, 47, 47);
    & .banner {
      margin: 0 56px;
      background-color: rgb(37, 50, 55);
      text-align: center;
      padding: 32px;
      color: #fff;
    }
  }

  & .checkDocsContainer {
    background-color: rgb(245, 240, 241);
    & .checkDocs {
      background-color: rgb(234, 245, 240);
      margin: 0 56px;
      text-align: center;
      padding: 32px;

      & a {
        display: block;
        margin-top: 20px;
        text-decoration: none;
        color: rgb(1, 123, 176);
      }
    }
  }
}
